body {
    margin: 0;
    padding: 0;
    background-color: red;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header {
    position: relative;
    padding: 20px;
}

.header img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    object-fit: contain; /* Evita que la imagen se corte */
}

.footer {
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin-top: auto;
    background-color: white;
    margin-bottom: 0;
}

.footer img {
    margin-top: 2px;
    width: 32%;
    height: 100%;
    object-fit: contain; /* Evita que las imágenes se corten */
}

.text {
    max-width: 70%;
}
