/* Estilo para el cuerpo y la página */
body {
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
    font-family: Arial, sans-serif;
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para la cabecera */
.header {
    width: 100%;
    background-color: #4B4B4B;
    color: #F5F5F5;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Espacio entre el título y la imagen */
    align-items: center;
    position: relative;
}

/* Imagen en la cabecera */
.header img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 10px; /* Espacio entre la imagen y el borde derecho */
}

/* Título en la cabecera */
.header .text {
    flex-grow: 1; /* Título ocupa el espacio restante */
    margin-left: 10px; /* Espacio entre el título y el borde izquierdo */
    text-align: left; /* Alinea el título a la izquierda */
}

/* Estilo para el pie de página */
.footer {
    width: 100%;
    background-color: #4B4B4B;
    color: #F5F5F5;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Imagen en el pie de página */
.footer img {
    width: 32%;
    height: 100%;
    object-fit: contain;
}

/* Contenedor central */
.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Sección de entrada de texto */
.input-section {
    margin: 20px 0;
    text-align: center;
    width: 100%;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 1em;
    margin-right: 10px;
    box-sizing: border-box;
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#resultMessage {
    margin: 20px 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

/* Estilo para las pistas */
.hint-container {
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hint-header {
    background-color: #D50000;
    color: white;
    padding: 10px;
    width: 100%;
}

.hint-header h2 {
    margin: 0;
    font-size: 1.2em;
}

.hint-body {
    padding: 20px;
    color: #333;
}
